.one{
    color: bisque;
    background-color: black;
}
.two{
    color: chartreuse;
    background-color: chocolate;
}
.three{
    color: rgb(222, 149, 32);
    background-color: darkmagenta;
}
h1, h2{
    color: crimson;
    background-color: floralwhite;
}
p{
  text-align: justify;
}