.o{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;
    background-color: black;
    text-align: justify;
    border-style: dashed;
}
.m{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    background-color: black;
    text-align: justify;
    border-style:dotted;
}
.l{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: goldenrod;
    background-color: black;
    text-align: justify;
}
h1{
    text-decoration: dashed;
    color: bisque;
    background-color: black;
    text-align:center ;
    border-style:double;
    border-width:40px;
    border-radius: 80px;
}
.margindown{
    border: 10px solid red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
    border-radius: 30px;
}
.pm{
    border: 10px solid red;
    border-radius: 30px;
    margin: 100px 50px 20px 40px;
    padding: 25px 50px 25px 100px;
}
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: green;
}